@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f2f2f2;
  font-family: 'Times New Roman', serif;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #451aa9;
}
.content {
  margin: 0px auto;
  padding: 0px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #451aa9;
  margin-bottom: 8px;
}


body {
  background: #000000;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}


/* slides styling and enabling the ability to scroll */
.container{
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 0;
  
}
/* following to items are to hide the scroll bar while still keeping its functionality */
div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}
.slides{
  width:  100vw;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /*text-align: center;*/
  /*gap: 50px; */
  color: #fff;
  scroll-snap-align: start; 
  position: relative
  
}

.slides canvas {
  position: relative; /* Position the canvas within the slide */
  top: 0; /* Align the canvas to the top of the slide */
  left: 0; /*Align the canvas to the left of the slide */
  width: 100vw; /* Set canvas width to fill the entire width of the slide */
  height: 100vh; /* Set canvas height to fill the entire height of the slide */
  z-index: 999; /* Ensure the canvas is behind other content */
  padding: 0;
}