/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  font-family: "Quicksand", sans-serif; /* Use Quicksand font for all elements */
  color: white; /* Default text color */
}

body {
  background: rgb(11, 33, 57); /* Black background */
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;

}




header .logo {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em; /* Adjust logo font size */
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  display: flex;
  list-style-type: none; /* Remove default list style */
  margin-left: auto;
}

header ul li {
  margin: 0 15px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

header ul li a:hover {
  color: lightblue; /* Hover color */
}

header.sticky {
  padding: 10px 100px; /* Adjust sticky header padding */
  background: #fff; /* Sticky header background color */
}

/* Main container styles */
.container {
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0;
}

/* Content area */
.content {
  margin: 0 auto;
  padding: 0px;
}

/* First page container */
.firstpage {
  min-height: 100vh; /* Minimum height of viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  overflow-y: auto; /* Enable scrolling if content exceeds viewport */
}

/* Blog previews */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa; /* Light border color */
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1); /* Box shadow on hover */
}

.blog-preview h2 {
  font-size: 20px;
  color: #451aa9; /* Blog title color */
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

/* Blog details */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d; /* Blog detail title color */
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

/* Slides container */
.slides {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  gap: 50px; /* Gap between slides */
  color: #fff;
  scroll-snap-align: start;
  position: relative;
  background-color: white;
}

.slides canvas {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure canvas is behind other content */
  padding: 0;
}

/* Hide scrollbars while retaining functionality */
.container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.container {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}


.AboutPage {
  margin-top: auto; /* Anchor Home component to the bottom of AboutPage */
}

.ProjectPage {
  margin-top: auto; /* Anchor Home component to the bottom of AboutPage */
}

.ExperiencePage {
  margin-top: auto; /* Anchor Home component to the bottom of AboutPage */
}

header.sticky .logo,
header.sticky ul li a 
{
  color: #000;
}

.slideheaders {
  color: white;
  margin-top: 45px;
  position: relative;
  top: 0;
  text-align: center;
  font-size: 45px;
}

.slide2{
  background-color: rgba(12,0,25,255);
  margin-top: 60px;
  height: 90vh;
}
.slidebody {
  background-color: transparent;
  position: relative;
  margin-left: 50px;
  font-size: 23px;
  margin-top: 40px;
  margin-right: 30px;
}
.slide3 {
  background-color: rgba(12,0,25,255);
  margin-top: 60px;
}
.slide4 {
  background-color: rgba(12,0,25,255);
  margin-top: 60px;
}
.slide5 {
  background-color: rgba(12,0,25,255);
  margin-top: 60px;
}

.profileimage {
  width: 400px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it circular */
  margin-left: 50px;
  margin-top: 30px;
  /* Add any other styles you need */
}

.github-image {
  width: 55px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 30px;
  margin-left: 40px;
}

.gmail-image {
  width: 55px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 30px;
  margin-left: 73px;
}


.linkedin-image {
  width: 55px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 30px;
  margin-left: 73px;
}

.downloadarcadiaapp-appstore {
  width: 155px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 450px;
  margin-left: -1400px;
}


.downloadarcadiaapp-goolgeplay {
  width: 160px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 450px;
  margin-left: -1200px;
}



.websitesignature {
  margin-top: 80px;
 
}

.pomodoro-image {
  width: 240px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-left: 70px;
  margin-top: 20px;
}

.workoutapp-image {
  width: 300px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-left: 70px;
  margin-top: 20px;
}

.arcadiaapp-image{
  width: 211px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-left: 70px;
  margin-top: 20px;
}
.ewbapp-image1 {
  width: 300px; /* Example width */
  height: auto; /* Maintain aspect ratio */
  margin-left: 70px;
  margin-top: 20px;
}


.pagecontainer {
  display: flex;
  align-items: flex-start; /* Align items to the start (top) of the container */
  margin-top: 0px; /* Example margin top */
  margin-left: 0px; /* Example margin left */
}

html {
  scroll-behavior: smooth;
  scroll-padding: 3rem;
}

.contactform {
  color: black;
}